html {
  width: 100%;
  padding: env(safe-area-inset);
}
body {
  margin:0;
  display: grid;
  background-color: black;
}

.button {
	display: flex;
	height: 50px;
	width: 75lvw;
	padding: 0;
	background: #51A0D5;
	border: none;
	outline: none;
	border-radius: 10px;
	overflow: hidden;
	white-space: nowrap;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 24px;
	color: #fff;
	height: 100%;
}

.button__icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.12);
}

.footer {
  width: 100%;
  background-color: #51A0D5;
  color: white;
  font-family:"Calibri", sans-serif;
  font-size: max(2vh,2vw);
  text-align: center;
}

@media screen  and (orientation:portrait) {
/* image */
  .NamecardImageDiv{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .NamecardImage {
    max-width: 96%;
    max-height: 96%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 8px;
  }
/* Style buttons*/
  .button-container-div {
    margin-top: 5lvh;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}

@media screen  and (orientation:landscape) {
  .NamecardImageDiv {
    height: 100lvh;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .NamecardImage {
    max-width: 80lvw;
    max-height: 80lvh;
    margin-top: 1lvh;
    margin-bottom: 1lvh;
    border-radius: 8px;
  }
  .button-container-div {
    display: none;
    margin-bottom: 15vh;/*push the footer down in landscape*/
  }
}
